/* CSS style for login form */


/* CSS style for home page */
body {
    background-color: #2D333B !important;
}

div.logo {
    filter: invert(100%);
}

a.logo-container {
    border-bottom: 1px solid #e5e6e67a !important;
}

a.logo-container,
div.sidebar,
div.sidebar>ul>li:last-child {
    background: #373E47 !important;
    border-right-color: #e5e6e67a !important;
}

.navigation hr,
div.sidebar>ul>li:last-child {
    border-top-color: #e5e6e67a !important;
}

.navigation>ul>li a .icon,
.navigation>ul>li a .image {
    color: #cdd9e5 !important;
}


/* panels */
.panel-default>.panel-heading,
thead {
    background-color: #444C56 !important;
}

.panel.panel-default .panel-heading .panel-title {
    color: #cdd9e5 !important;
}

.panel.panel-default .panel-heading .panel-title i.panel-title-icon {
    background-color: #545c66dc !important;
}

.list-group-item,
.panel {
    background-color: #373E47 !important;
    color: #cdd9e5;
}

.user-select-none {
    box-shadow: none !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #545c66dc !important;
}

td,
th {
    color: #cdd9e5;
}